<h3>ログインフォーム</h3>
<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :email, "メールアドレス",class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <div class="form-group">
    <%= f.label :password, "パスワード",class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "パスワード(確認)",class: 'form-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <div class="form-check">
    <%= f.check_box :remember_me, class: "form-check-input" %>
    <%= f.label :remember_me, "ログインのままにする", class: "form-check-label" %>
  </div>

  <%= f.submit "ログインする", class: "btn btn-primary" %>
  <span style="color: blue; font-size: 12px; margin-left: 10px;">
        ＊会員登録がまだの方は<%= link_to 'こちら', new_user_path %></span>
<% end %>