<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if logged_in? %>
          <%= link_to '予約画面', time_table_path, class: 'nav-link' %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
        <% else %>
          <%= link_to '会員登録', signup_path, class: 'nav-link'%>
          <%= link_to 'ログイン', login_path, class: 'nav-link' %>
        <% end %>
        <%= link_to '観覧回作成', new_viewing_time_path, class: 'nav-link'%>
        <%= link_to '観覧スケジュール一覧', viewing_times_path, class: 'nav-link'%>
      </div>
    </div>
  </div>
</nav>