<%= render 'shared/error_messages'%>

<%= form_with model: @viewing_time, url: yield(:url), local: true do |f| %>
  <div class="form-group">
    <%= f.label :hold_at, "開園日",class: 'form-label' %>
    <%= f.date_field :hold_at, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <div class="form-group">
    <%= f.label :program_name, "観覧時間",class: 'form-label' %>
    <%= f.text_field :program_name, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <div class="form-group">
    <%= f.label :capacity, "定員数",class: 'form-label' %>
    <%= f.number_field :capacity, class: 'form-control', id: 'formGroupExampleInput' %>
  </div>

  <%= f.submit yield(:btn_name), class: "btn btn-primary" %>
<% end %>