<h5 style="margin-top: 20px;">開園日 <%= @viewing_time.hold_at %></h5>
<h5><%= @viewing_time.program_name %>の回: 予約者一覧 </h5>
<%= render partial: 'search', locals: { viewing_time: @viewing_time } %>
<div style="margin-top: 10px;"><%= render partial: 'find_users', locals: { viewing_time: @viewing_time }%></div>
<p style="float: right;">予約者数<%= @viewing_time.users.length%>人</p>
<table class="table table-striped table-hover">
  <%= render 'headder' %>
  <tbody>
    <% if @find_users %>
      <%= render partial: 'admin/viewing_times/user', collection: @find_users, as: 'user'%>
    <% else %>
      <%= render partial: 'admin/viewing_times/user', collection: @users %>
    <% end %>
  </tbody>
</table>
<% if @find_users %>
  <% provide(:url, admin_viewing_time_path(@viewing_time))%>
  <%= render partial: 'btn', locals: { users: @find_users } %>
<% else %>
  <% provide(:url, admin_today_viewing_time_path) %>
  <%= render partial: 'btn', locals: { users: @users }%>
<% end %>